* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Street2, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.menu_bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    height: 53px;
    align-items: center;
    padding: 3px 43px;
    position: fixed;
    

}

.logo {
    width: 80px;
    height: 20px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu_bar1 {
    list-style: none;
    text-align: right;
    
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu_bar3 {
    background-color: blue;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

#menu_bar3 span {
    position: relative;
    top: 2px;
}

#menu_bar3 span img {
    width: 50px;

}

.image {
    height: 340PX;
    width: 100%;
    background-image: url(https://static.hbo.com/2024-10/dune-prophecy-s1-main-ka-2000x700.jpg?w=960);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    padding-top: 100px;
    margin-top: 53px;
    display: inline-block;



}
.image-1{
    width: 100%;
    
    
    
}
#r-1{
    color: black;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
}
#r-2{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
#r-3{
    color: #000;
    font-size: 16px;
    text-align: left;
    padding: 14px 15px;
    
}
.b-t{
    display: flex;
    flex-direction: column;
    
}

#r-4{
    background-color: #2bb0d8;
    color: #fff;
    

}
#r-5{
    background-color: #2bb0d8;
    color: #fff;
    
}

#r1 {
    color: #fff;
    font-size: 15px;
}

#r2 {
    color: #fff;
    font-size: 45px
}

#r3 {
    color: #fff;
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 17px;

}

#r4 {

    background-color: #2bb0d8;
    border: #2bb0d8;
    color: #fff;
    font-size: 11px;
    height: 35px;
    padding: 7px;
    border-radius: 2px;
    width: 140px;
}

.play {
    margin-right: 5px;
}

#r5 {
    background-color: #2bb0d8;
    border: #2bb0d8;
    color: #fff;
    font-size: 11px;
    height: 35px;
    padding: 7px;
    border-radius: 2px;
    width: 115px;
}

#hd {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
}

.nav-button {

    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}


.nav-button button {
    font-size: 2vh;
    border: none;
    background: white;
}

.container {
    width: 90%;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: auto;
}
.container::-webkit-scrollbar {
    display: none;
}

.scroll-bar {
    height: 400px;
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    margin-left: 40px;

}

.bookpage {
    height: 400px;
    width: 190px;
    display: flex;
    flex-direction: column;

}

.scroll-bar::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.b1 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.b2 {
    padding-bottom: 5px;
    font-size: 17px;
}

.b3 {
    font-size: 15px;
    color: rgb(18 18 18 / 70%);
}

.bookpage img {
    height: 30%;
}

.upcoming {
    background-color: #ebeaea;
}

.up1 {
    font-size: 11px;
    margin-left: 3px;
    border-left: 1px solid;
    padding-left: 12px;


}

.top {
    display: flex;
    justify-content: space-between;
    margin: 25px 95px;
    border: none;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    padding-top: 30px;
}

button {
    /* padding-left: 85px; */
    border: none;
    background-color: #ebeaea;
    color: #2bb0d8;

}

.up {
    gap: 20px;
    display: flex;
    justify-content: center;
    border: none;

}

.up p {
    padding-top: 15px;
}

.popshow {
    display: flex;
    flex-direction: row;
    background-color: #000f8e;
    margin-top: 10%;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 50px 0px;
    width: 100%;
    gap: 20px;
}

.popshow-img {
    display: flex;
    justify-content: center;
    gap: 20px;


}

.fms-show {
    
    display: flex;
    max-width:25% ;



}

.fms-show img {
    width: 100%;
    height: 100%;
}


.fms-show1 {
    min-width: 27%;
    text-align: center;
    right: 33px;

}

.fms-show1 p {
    font-size: 30px;
    color: #fff;
    padding-bottom: 7%;
    padding-top: 10%;


}

.fms-show1 button {
    font-size: 14px;
    color: black;
    background-color: #fff;
    height: 20%;
    border-radius: 2px;
    padding-top: 5px;
    /* width: 30%; */
    padding: 13px 20px;


}

.hd {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 30px;
}

.container1 img {
    width: 48%;
    height: auto;
}

.container1 {
    display: flex;
    flex-direction: row;
    margin: 30px;

}

.cs {

    padding-left: 2%;
    padding-top: 6%;
    color: rgb(18 18 18 / 70%);
}

.cs h3 {
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 20px;
    color: black;
}

#line {
    font-size: 16px;
    padding-bottom: 5%;
    font-family: sans-serif;

}

.cs p {
    font-family: Street2, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

}

.more {
    background-image: url(https://static.hbo.com/2024-10/241101-max-brand-quilt-cropped.jpg);
    height: 290px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.more img {
    width: 50%;
    height: 60px;



}

.more p {
    color: #fff;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;

}

.more button {
    background-color: #fff;
    color: black;
    border-radius: 3px;
    
    font-family: bold;
}

#footer {
    background-color: #404040;
    color: #fff;
   
}

.fr {
    font-size: 10px;
}

.fr1 img {
    width: 100%;
    height: 30px;
    filter: invert(1);


}

.fr1 p {
    font-size: 8px;
    padding-left: 11px;

}

.fr1 {
    margin: 0px auto;
    width: 10%;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.fr {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    gap: 25px;
    flex-wrap: wrap;
}

.fr2 {
    display: flex;
    justify-content: center;
    font-size: 12px;
    gap: 27px;
    padding-top: 30px;
}

.fr3 {
    font-size: 12px;

}

#fr4 {
    padding-top: 20px;
    text-align: center;

}

#fr5 {
    padding-top: 10px;
    text-align: center;
}

@media (max-width: 425px) {
    #r1{
        display: none;
    }
    #r2{
        display: none;

    }
    #r3{
        display: none;

    }
    #r4{
        display: none;

    }
    #r5{
        display: none;

    }
    .more-button{
        height: 50px;
        
    }
    .nav-button{
        display: none;
    }
    .logo{
        width: 50px;
    }
    .scroll-bar{
        width: 100%;
    }
    .more-button{
        width: 20%;
    }
    .popshow {
        flex-wrap: wrap-reverse;
    }
    
}

@media (min-width:425px) {
    #r-1{
        display: none
    }
    #r-2{
        display: none

    }
    #r-3{
        display: none

    }
    #r-4{
        display: none

    }
    #r-5{
        display: none

    }
    
    
    
    
}
@media (max-width: 690px){
    .menu_bar{
        padding:1px 0px;;

    }
    .nav-button{
        display: none;
    }
}
@media (max-width: 350px){
    .more-button{
        height: 50px;
    }

}
